li{
  display: grid;
  justify-content: center;
}

.artist    {
    display: block;
    font-family: 'Segoe UI';
    background: white;
    border: hidden;
    font-size: 1.3em;
    width: 20em;
    height: 2.5em;
    border-radius: 1em;
    text-align: center;
    margin-bottom: .4em;
    cursor: pointer;
}

.artist:focus {
  outline: 0;
}

.artistp {
    font-family: 'Segoe UI';
    font-size: 1.3em;
    line-height: 1em;
}