#main {
    overflow-y: auto;
    overflow-x: hidden;
}

.button    {
    display: block;
    font-family: 'Segoe UI';
    background: white;
    border: hidden;
    font-size: 1.3em;
    width: 20em;
    height: 2.5em;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    margin-bottom: .4em;
    cursor: pointer;
}

.mainmenusongname {
    font-size: 1.1em;
    background: transparent;
    border: hidden;
    width: 100%;
    margin-top: -.05em;
    cursor: pointer;
}

.mainmenuartistname {
    font-size: 0.7em;
    background: transparent;
    border: hidden;
    width: 100%;
    margin-top: -.2em;
    cursor: pointer;
}

.song p  {
  text-align: center;
  font-family: 'Segoe UI';
  margin: 0;
}

.songbutton {
    border: hidden;
    background-color: transparent;
}

.artistnameresult {
    font-family: 'Segoe UI';
    font-size: 1.3em;
    line-height: 1em;
}
