{% extends "rightsidemenu.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/songs.css') }}">

</head>

<body style="visibility: hidden;" onload="js_load()">

    <button id="backtrackbutton" onclick="window.history.back()">&laquo</button>

<div id="main">
    <div id="mainmenu">
        <h1>Sanger</h1>

        <div>
            <ul>
                {% for artist, songs in artists.items(): %}
                    {% for song in songs %}
                    <li id="{{ (artist + song).lower().replace(' ', '') }}">
                        <form action="">
                            <button type="button" class="songline" onclick="addToSideMenu('{{ (artist + song).lower().replace(' ', '') }}', '{{ artist.title() }}', '{{ song.title() }}')">
                                <p class="mainmenusongname">{{ song.title() }}</p>
                                <p class="mainmenuartistname">{{ artist.title() }}</p>
                            </button>
                        </form>
                    </li>

                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}